name: Build and Deploy Code

on: [push, pull_request]
        
jobs:
    Build:
        environment:
            name: testing
        env:
            DATABASE_HOST: ${{ secrets.DATABASE_HOSTNAME }}
            DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
            DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
            DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
            DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            ALGORITHM: ${{ secrets.ALGORITHM }}
            ACCESS_TOKEN_EXPIRE_MINUTES: ${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}

        services:
            postgres:
                image: postgres:13
                env:
                    POSTGRES_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
                    POSTGRES_DB: ${{ secrets.DATABASE_NAME }}_test
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
        
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Setup Python 3.9
              uses: actions/setup-python@v2
              with:
                  python-version: '3.9'
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Run tests with pytest
              run: |
                  pip install pytest
                  pytest tests/

            # - name: Login to DockerHub
            #   uses: docker/login-action@v2
            #   with:
            #       username: ${{ secrets.DOCKER_HUB_USERNAME }}
            #       password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            
            # - name: Set up Docker Buildx
            #   id: buildx
            #   uses: docker/setup-buildx-action@v2
            
            # - name: Build and Push Docker Image
            #   id: docker_build
            #   uses: docker/build-push-action@v2
            #   with:
            #       context: ./
            #       file: ./Dockerfile
            #       builder: ${{ steps.buildx.outputs.name }}
            #       push: true
            #       tags: ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi:latest
            #       cache-from: type=local,src=/tmp/.buildx-cache
            #       cache-to: type=local,dest=/tmp/.buildx-cache
            # - name: Image Digest
            #   run: echo ${{ steps.docker_build.outputs.digest }}

    deploy:
        runs-on: ubuntu-latest
        needs: [Build]
        environment:
            name: production
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Install Heroku CLI
              run: |
                curl https://cli-assets.heroku.com/install.sh | sh
                heroku --version
            - name: Deploy to Heroku
              uses: akhileshns/heroku-deploy@v3.12.12
              with:
                heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
                heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
                heroku_email: ${{ secrets.HEROKU_EMAIL }}

            - name: Deploy to ubuntu server
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.PROD_HOST }}
                username: ${{ secrets.PROD_USERNAME }}
                password: ${{ secrets.PROD_PASSWORD }}
                script: |
                    cd app/src
                    git pull
                    echo ${{ secrets.PROD_PASSWORD }} | sudo -S systemctl restart api